<div class="container">
    <div class="row">
        <div *ngIf="!busy" class="col-md-8">
          <div class="header">
              <h3>Usuários</h3>
              <button type="button" class="btn btn-success">Novo</button>
          </div>
            <table class="table small">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">Email</th>                
                    <th scope="col">Ações</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let claim of claims; let i = index" [attr.data-index]="i">
                    <th scope="row">{{claim.id}}</th>
                    <td>{{claim.name}}</td>
                    <td>{{claim.email}}</td>                   
                    <td><div clas="icons-wrapper"><mat-icon class="edit" routerLink="/updateUser/{{claim.id}}">create</mat-icon><mat-icon class="close">close</mat-icon></div></td>                   
                  </tr>                 
                </tbody>
              </table>            
        </div>
    </div>
</div>
