<div class="container">
    <div class="jumbotron mt-3">
      <h1>OAuth Client Demo</h1>
      <p class="lead">OAuth/OpenID Connect Demo usando Angular, Asp.net core com IdentityServer 4</p>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/login" role="button">Entrar &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/topsecret" role="button">Área protegida&raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" role="button" (click)="sair()">Sair &raquo;</a>
    </div>
</div>