<main class="card-main">
    <div class="login-container">
        <div class="login-title">
            <span class="title">Login</span>
        </div>
        <div class="container-text mt-4">
            <span class="text-muted">Fazer login utilizando o IdentityServer 4,</span>
        </div>
        <div class="container-text mt-3 mb-5">
            <span class="text-muted" id="text">Protegido com IdentityServer.</span>
        </div>
        <div class="buttons mt-3 ml-4">
            <button type="submit" class="btn btn-primary mr-2" (click)="teste()">Login com IdentityServer</button>
        </div>
    </div>
</main>